@use '/src/style/variables.scss' as *;


.captwiki-create-patch {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    .captwiki-create-details {
        display: flex;
        gap: 5px;
        width: 100%;

        .captwiki-selected-type {
            text-transform: capitalize;
        }

        .captwiki-input-field {
            padding: 10px 15px;
        }

        .captwiki-dropdown-header {
            padding: 10px 15px;
        }

    }

    .captwiki-create-warning {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        background-color: #ff70022e;
        border: 1px solid $captwiki_border_color;
        border-radius: $rs_small;

        .captwiki-create-warning-text{
            color: $captwiki_black_color;
            font-size: 14px;
            font-weight: 500;
        }

        .captwiki-secondary-button {
            padding: 5px 15px;

            .captwiki-loader-spin {
                border-color: $primary_color;
                border-bottom-color: transparent;
            }

        }

    }

    .captwiki-create-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .captwiki-plugin-list-item {
        border: 1px solid $captwiki_border_color;
        padding: 5px 10px;
        border-radius: $rs_small;
        font-size: 14px;
        font-weight: 600;
        color: $captwiki_black_color;
        transition: $transition;
        cursor: pointer;

        &:hover {
            background-color: $captwiki_white_hover;
        }

        &.captwiki-plugin-list-item-selected {
            background-color: $captwiki_white_hover;
            border-color: $primary_color;
            color: $primary_color;
        }
    }

    .captwiki-widget-select-dropdown {
        .captwiki-dropdown-content {
            max-height: 100%;
            overflow-y: visible;
        }

        .captwiki-create-dropdown-wrapper {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;
            padding: 5px 0;
        }

        .captwiki-plugin-list {
            max-height: 200px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $captwiki_border_color;
                border-radius: $rs_normal;
            }

        }

    }


    .captwiki-plugin-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;

        &.captwiki-patch-plugins {
            flex-direction: column;
            flex-wrap: nowrap;

            .captwiki-plugin-list-item {
                border: none;
            }

        }

    }

    .captwiki-widget-select-container {
        width: 100%;
    }

    .captwiki-widget-select-disable {
        pointer-events: none;
        opacity: 0.5;
    }

}