@use '/src/style/variables.scss' as *;

.captwiki-loader-spin {
    width: 10px;
    height: 10px;
    border: 2px solid $captwiki_white_color;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: captwiki-spin 1s linear infinite;


    @keyframes captwiki-spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}