@use '/src/style/variables.scss' as *;


textarea.cwk-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid $cwk_border_color;
    border-radius: $rs_small;
    font-size: 14px;
    color: $cwk_black_color;
    background-color: $cwk_input_bg;
    box-shadow: none;
    outline: none;
    transition: $transition;

    &::placeholder {
        color: $cwk_black_color;
        opacity: 0.5;
        transition: $transition;
    }

    &:focus {
        border-color: $cwk_black_color;
        box-shadow: none;
        outline: none;

        &::placeholder {
            padding-left: 5px;
        }
    }

}