@use '/src/style/variables.scss' as *;

.captwiki-dropdown-container {
    position: relative;
    display: flex;
    width: 100%;

    .captwiki-dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid $captwiki_border_color;
        border-radius: $rs_small;
        padding: 5px 15px;
        font-size: 14px;
        color: $captwiki_black_color;
        transition: $transition;
        cursor: pointer;

        .captwiki-dropdown-header-icon {
            display: flex;
            transition: $transition;

            i {
                color: $captwiki_black_color;
                font-size: 12px;
                transition: $transition;
            }

        }
    }

    .captwiki-dropdown-content {
        position: fixed;
        display: none;
        background-color: $captwiki_white_color;
        border: 1px solid $captwiki_border_color;
        border-radius: $rs_normal;
        padding: 5px 15px;
        box-shadow: 1px 5px 2px #0000004d;
        z-index: 9;
        max-height: 200px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $captwiki_border_color;
            border-radius: $rs_normal;
        }

    }

    &.captwiki-dropdown-content-show {

        .captwiki-dropdown-content {
            display: flex;
        }

        .captwiki-dropdown-header-icon {
            transform: rotate(-180deg);
            transition: $transition;
        }
    }

}