@font-face {
  font-family: 'captainwidgetkit';
  src: url('captainwidgetkit.eot?f0hjpo');
  src: url('captainwidgetkit.eot?f0hjpo#iefix') format('embedded-opentype'),
    url('captainwidgetkit.ttf?f0hjpo') format('truetype'),
    url('captainwidgetkit.woff?f0hjpo') format('woff'),
    url('captainwidgetkit.svg?f0hjpo#captainwidgetkit') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="captwiki-i-"],
[class*=" captwiki-i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'captainwidgetkit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.captwiki-i-gap:before {
  content: "\e91c";
}

.captwiki-i-reload:before {
  content: "\e91d";
}

.captwiki-i-link:before {
  content: "\e91e";
}

.captwiki-i-code:before {
  content: "\e919";
}

.captwiki-i-animation:before {
  content: "\e91a";
}

.captwiki-i-drag:before {
  content: "\e91b";
}

.captwiki-i-arrow-down:before {
  content: "\e900";
}

.captwiki-i-arrow-up:before {
  content: "\e901";
}

.captwiki-i-background-controller:before {
  content: "\e902";
}

.captwiki-i-border-controller:before {
  content: "\e903";
}

.captwiki-i-boxshadow-controller:before {
  content: "\e904";
}

.captwiki-i-choose-controller:before {
  content: "\e905";
}

.captwiki-i-close:before {
  content: "\e906";
}

.captwiki-i-color-wheel-controller:before {
  content: "\e907";
}

.captwiki-i-delete:before {
  content: "\e908";
}

.captwiki-i-dimension-controller:before {
  content: "\e909";
}

.captwiki-i-divider-controller:before {
  content: "\e90a";
}

.captwiki-i-down-arrow:before {
  content: "\e90b";
}

.captwiki-i-edit:before {
  content: "\e90c";
}

.captwiki-i-information-1:before {
  content: "\e90d";
}

.captwiki-i-normal-controller:before {
  content: "\e90e";
}

.captwiki-i-number-controller:before {
  content: "\e90f";
}

.captwiki-i-plus:before {
  content: "\e910";
}

.captwiki-i-select-controller:before {
  content: "\e911";
}

.captwiki-i-setting:before {
  content: "\e912";
}

.captwiki-i-textarea-controller:before {
  content: "\e913";
}

.captwiki-i-text-controller:before {
  content: "\e914";
}

.captwiki-i-textshadow-controller:before {
  content: "\e915";
}

.captwiki-i-toggle-controller:before {
  content: "\e916";
}

.captwiki-i-typo-controller:before {
  content: "\e917";
}

.captwiki-i-up-arrow:before {
  content: "\e918";
}