@use '/src/style/variables.scss' as *;

.captwiki-secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #00ff6730;
    color: $primary_btn_color;
    padding: 10px 15px;
    border: 1px solid $primary_btn_color;
    border-radius: $rs_medium;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: #28b76252;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}