@use '/src/style/variables.scss' as *;

.captwiki-widget-builder {

    .cm-theme {
        height: 100%;
        overflow: hidden;
    }

    .cm-editor {
        height: 100%;
        background: #020202;
        font-size: 16px;
    }

    .cm-scroller {

        &::-webkit-scrollbar {
            width: 5px !important;
            height: 5px !important;
        }

        &::-webkit-scrollbar-track {
            background: #3333336b;
            border-radius: 5px !important;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px !important;
        }
    }

    // Line Numbers/Gutters
    .cm-gutters {
        background-color: #33333352;
    }
}