@use '/src/style/variables.scss' as *;

.captwiki-edit-extension {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .captwiki-edit-extension-title {
        font-size: 16px;
        font-weight: 600;
        color: $captwiki_black_color;
        width: fit-content;

        &.captwiki-edit-extension-label {
            cursor: pointer;
        }

    }

    .captwiki-edit-extension-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .captwiki-edit-extension-plugins-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .captwiki-edit-extension-label {
                display: flex;
                align-items: center;
                gap: 10px;
                width: fit-content;
                background: $captwiki_border_color;
                padding: 8px;
                border-radius: 6px;
                cursor: pointer;

                &.captwiki-edit-extension-label-disabled {
                    opacity: 0.7;
                    cursor: not-allowed;
                }

            }

            .captwiki-edit-extension-text {
                font-size: 14px;
                color: $captwiki_black_color;
            }
        }
    }

    .captwiki-edit-extension-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}