@use '/src/style/variables.scss' as *;


.captwiki-filter-search-container {
    display: flex;
    width: 100%;
    background-color: $captwiki_input_bg;
    border-radius: $rs_small;
    padding: 5px 10px;
    border: 1px solid $captwiki_border_color;

    .captwiki-filter-search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type='text'].captwiki-input-field {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        color: $captwiki_black_color;
    }

}