@use '/src/style/variables.scss' as *;

.captwiki-controller-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 320px;
    min-width: 320px;
    background: $captwiki_white_color;
    border-radius: $rs_large;
    border: 1px solid $captwiki_border_color;
    padding: 10px;
    overflow: hidden;
    transition: $transition;

    &.captwiki-controller-layout-collapsed {
        width: 0px;
        min-width: 0px;
        overflow: hidden;

        div,
        span,
        label {
            white-space: nowrap;
        }
    }

    &.captwiki-controller-layout-expaned {
        width: 100%;
    }

    .captwiki-controller-layout-header-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        .captwiki-controller-layout-collapse {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $captwiki_grey_color;
            padding: 5px;
            border-radius: $rs_medium;
            cursor: pointer;
        }
    }

    .captwiki-controller-layout-header {
        display: flex;
        gap: 10px;
        background: $primary_color;
        border-radius: $rs_medium;
        padding: 8px;
        width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $captwiki_border_color;
            border-radius: $rs_normal;
        }

        .captwiki-controller-action-btn {
            display: flex;
            padding: 5px;
            width: 100%;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            border-radius: $rs_small;
            color: $captwiki_white_color;
            border: 1px solid transparent;
            cursor: pointer;
            transition: $transition;

            &.captwiki-controller-action-btn-active {
                background: $captwiki_white_color;
                color: $primary_color;
            }

            &.captwiki-controller-action-btn-disable {
                opacity: 0.7;
                cursor: not-allowed;
            }

        }

    }

    .captwiki-add-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px dashed $captwiki_border_color;
        border-radius: $rs_medium;
        padding: 20px;
        cursor: pointer;
        transition: $transition;

        &:hover,
        &.captwiki-add-layout-show {
            background-color: #f5f5f582;
            border-color: $primary_color;
        }

    }

    .captwiki-controller-drop {
        height: 5px;
        width: 100%;
        background: transparent;
        transition: all 0.1s linear;

        &.captwiki-controller-drop-show {
            height: 15px;
            background: $primary_color;
        }

    }

    .captwiki-section-listing {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .captwiki-section-accordion {
            display: flex;
            flex-direction: column;
            border: 1px solid $captwiki_border_color;
            border-radius: $rs_small;
            overflow: hidden;

            .captwiki-section-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                background: $captwiki_grey_color;
                color: $captwiki_black_color;
                transition: $transition;
                cursor: default;
            }

            .captwiki-section-name {
                display: flex;
                width: fit-content;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 500;
                background: transparent;
                color: $captwiki_black_color;
                transition: $transition;

                &:focus,
                &:target {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }

            .captwiki-section-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .captwiki-accordion-header-icon {
                    i {
                        font-size: 14px;
                    }
                }

            }

            .captwiki-section-del-icon,
            .captwiki-accordion-header-icon,
            .captwiki-info-header-icon {
                display: flex;
                transition: $transition;
                cursor: pointer;

                i {
                    color: $captwiki_black_color;
                    font-size: 16px;
                }

            }

            .captwiki-info-header-tooltip {
                display: flex;

                .captwiki-tooltip-text {
                    width: 200px;
                }
            }

            .captwiki-section-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 5px;
            }

            .captwiki-add-controller {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                border: 1px dashed $captwiki_border_color;
                border-radius: $rs_medium;
                padding: 5px;
                transition: $transition;

                &:hover,
                &.captwiki-add-controller-show {
                    background-color: #f5f5f582;
                    border-color: $primary_color;
                }
            }

            &.captwiki-section-accordion-active {
                .captwiki-accordion-header-icon {
                    transform: rotate(180deg);
                }
            }

        }
    }

    .captwiki-section-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 10px;
        padding: 0 5px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $captwiki_border_color;
            border-radius: $rs_normal;
        }

    }

}

@media (max-width: 1440px) {
    .captwiki-controller-layout {
        width: 290px;
        min-width: 290px;
    }
}

@media (max-width: 1240px) {
    .captwiki-controller-layout {
        width: 100%;
    }
}