@use '/src/style/variables.scss' as *;

.captwiki-patch-card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 700px;

    .captwiki-patch-card {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
        border: 1px solid $captwiki_border_color;
        border-radius: $rs_normal;
        overflow: hidden;
        box-shadow: 2px 4px 5px 0px #0000001a;

        .captwiki-patch-card-effect-type-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            .captwiki-patch-card-effect-type {
                color: $captwiki_black_color;
                font-size: 14px;
                padding: 5px 15px;
                border-radius: $rs_small;
                border: 1px solid $captwiki_border_color;
                white-space: nowrap;
                width: fit-content;
                text-transform: capitalize;
            }
        }

        .captwiki-patch-card-header {
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            padding: 15px;

            .captwiki-patch-card-header-description {
                color: $captwiki_black_color;
                font-size: 12px;
                font-weight: 600;
                opacity: 0.5;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .captwiki-patch-card-title-wrapper {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                .captwiki-patch-card-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    font-weight: 600;
                    color: $captwiki_black_color;
                }

                .captwiki-card-plugin-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }

            }

            .captwiki-card-plugin {
                display: flex;
                background-color: #ffffff;

                .captwiki-card-plugin-icon {
                    width: 25px;
                    height: 25px;
                }
            }

        }

        .captwiki-patch-card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 15px;
            background-color: $captwiki_grey_color;
            border-top: 1px dashed $captwiki_border_color;

            &.captwiki-patch-card-footer-browse {
                justify-content: flex-end;
            }

            .captwiki-patch-download-loader {
                cursor: default;
            }

            .captwiki-patch-download-btn,
            .captwiki-patch-download-loader {
                display: flex;
                align-items: center;
                background-color: $captwiki_white_color;
                border: 1px solid $captwiki_border_color;
                padding: 5px;
                border-radius: $rs_small;
                transition: $transition;
                cursor: pointer;

                .captwiki-loader-spin {
                    border-color: $captwiki_black_color;
                    border-bottom-color: transparent;
                }

                &:hover {
                    background-color: $captwiki_white_hover;
                }
            }

            .captwiki-patch-card-footer-actions {
                display: flex;
                align-items: center;
                gap: 10px;

                .captwiki-patch-card-footer-button {
                    text-decoration: none;
                    color: $captwiki_black_color;
                    font-size: 16px;
                    cursor: pointer;

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }

                }
            }

        }
    }

    .captwiki-delete-patch {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .captwiki-download-patch {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 15px;
        background-color: $captwiki_grey_color;
        border-radius: $rs_small;
        border: 1px solid $captwiki_border_color;

        .captwiki-download-patch-status {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .captwiki-download-patch-status-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;

            .captwiki-loader-spin {
                border-color: $captwiki_black_color;
                border-bottom-color: transparent;
            }

        }

        .captwiki-download-patch-status-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            color: $captwiki_black_color;
        }
    }

    .captwiki-download-success-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding: 15px;

        .captwiki-download-success-icon {
            display: flex;
        }

        .captwiki-download-success-actions {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
        }

    }

    &.captwiki-patch-card-skeleton {

        .captwiki-patch-card-effect-type-wrapper .captwiki-patch-card-effect-type,
        .captwiki-patch-card-header .captwiki-patch-card-title,
        .captwiki-patch-card-header .captwiki-patch-card-header-description,
        .captwiki-patch-card-footer .captwiki-patch-card-footer-actions .captwiki-patch-card-footer-button {
            background: $skeleton_bg;
            animation: $animation;
            border-radius: $rs_small;
            color: transparent;
            pointer-events: none;
            border: none !important;

            img,
            input,
            svg {
                visibility: hidden;
            }

            span,
            label {
                color: transparent !important;
            }
        }
    }

}