@use '/src/style/variables.scss' as *;

.captwiki-browse-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    background-color: $captwiki_white_color;
    border: 1px solid $captwiki_border_color;
    border-radius: $rs_large;
    padding: 15px;

    .captwiki-header-panel {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        .captwiki-header-filter-handler {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: $captwiki_white_color;
            border: 1px solid $captwiki_border_color;
            border-radius: $rs_small;
            padding: 5px 15px;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: $captwiki_white_hover;
            }

            .captwiki-header-filter-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .captwiki-header-filter-label {
                font-size: 16px;
                color: $captwiki_black_color;
            }

        }
    }

    .captwiki-filter-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0 15px;

        .captwiki-filter-panel-divider {
            width: 100%;
            height: 2px;
        }

        .captwiki-accordion-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .captwiki-accordion-header-label {
                font-size: 16px;
                font-weight: 600;
                color: $captwiki_black_color;
            }
        }

        .captwiki-accordion-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .captwiki-accordion-content-label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                width: 100%;
                cursor: pointer;
            }

            .captwiki-accordion-content-text {
                color: $captwiki_black_color;
                font-size: 14px;
            }

        }

        .captwiki-accordion-alpabet-content {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .captwiki-accordion-content-label {
                width: fit-content;
            }

            .captwiki-accordion-content-text {
                transition: $transition;
                border-bottom: 1px solid transparent;
            }

            .captwiki-accordion-content-text-active {
                color: $primary_color;
                border-bottom: 1px solid $primary_color;
            }

        }

        .captwiki-primary-button {
            gap: 10px;
            align-items: baseline;

            i {
                font-size: 12px;
            }
        }
    }

    .captwiki-page-content {
        display: flex;
        gap: 15px;


        .captwiki-patch-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            gap: 15px;
            width: 100%;
            height: max-content;
        }
    }

}