@use '../../style/variables.scss' as *;

.captwiki-navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $captwiki_white_color;
    border: 1px solid $captwiki_border_color;
    border-radius: $rs_large;

    .captwiki-navigation-menu-logo {

        padding-left: 10px;

        img {
            height: 45px;
            width: 95px;
        }
    }

    .captwiki-navigation-menu-list {
        display: flex;
        gap: 10px;
        align-items: center;

        .captwiki-navigation-item-link {
            padding: 10px 15px;
            border-radius: 6px;
            text-decoration: none;
            color: $captwiki_black_color;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: $transition;
            border: none;
            outline: none;
            box-shadow: none;

            &:hover {
                background-color: $captwiki_white_hover;
            }

            &.captwiki-navigation-active-page {
                background-color: $captwiki_white_hover;
            }

        }
    }

}