@use '/src/style/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

:root {
    --cwk_white_color: #ffffff;
    --cwk_white_hover: #f5f5f5;
    --cwk_black_color: #000000;
    --cwk_border_color: #dfdfdf;
    --cwk_grey_bg: #f8f8f8;
    --cwk_grey_color: #e3ded326;
    --cwk_overlay_bg: #00000099;
    --cwk_component_bg: #a7a7a7;
    --cwk_input_bg: #f5f5f5bf;
    --switcher_shadow: 0 2.5px 5px #b8b8b9;
    --skeleton_bg: #e0e0e0;
    --skeleton_start: #e0e0e0;
    --skeleton_end: #f0f0f0;
}

.cwk-dark-mode {
    --cwk_white_color: #000000;
    --cwk_white_hover: #1a1a1a;
    --cwk_black_color: #ffffff;
    --cwk_border_color: #2a2a2a;
    --cwk_grey_color: #433c2d45;
    --cwk_grey_bg: #101010;
    --cwk_overlay_bg: #ffffff29;
    --cwk_component_bg: #4c4c4c;
    --cwk_input_bg: #f5f5f50d;
    --switcher_shadow: 0 2.5px 5px #323232;
    --skeleton_bg: #3f3f3f;
    --skeleton_start: #e0e0e021;
    --skeleton_end: #f0f0f036;
}

.csp-notice .pa-notice-wrap .pa-new-feature-notice .pa-review-notice .gt-admin-notice,
.is-dismissible,
.notice,
.notice .notice-errors,
.notice-errors,
.notice-warning,
#wpfooter {
    display: none !important
}

#wpbody-content {
    padding-bottom: 0 !important;
}

#wpcontent {
    padding-left: 0;
}

#captain-widgets-kit-app {
    padding-left: 20px;
    background-color: $cwk_grey_bg;
    font-family: "Kumbh Sans", sans-serif;
}

.cwk-wp-dark {
    background-color: #101010;
}

.cwk-app {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px;
    min-height: calc(100vh - 100px);
    margin-left: -20px;
}

.codef-spiner-loader {
    width: 18px;
    height: 18px;
    border: 3px solid #FFF;
    border-bottom-color: hsla(0, 0%, 100%, .349);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cwk-skeleton-effect {
    0% {
        background-color: $skeleton_start;
        opacity: 1;
    }

    50% {
        background-color: $skeleton_end;
        opacity: 0.7;
    }

    100% {
        background-color: $skeleton_start;
        opacity: 1;
    }
}