@use '/src/style/variables.scss' as *;


.captwiki-theme-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .captwiki-theme-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .captwiki-theme-title {
            font-size: 16px;
            font-weight: 600;
            color: $captwiki_black_color;
        }

        .captwiki-theme-dropdown {
            display: flex;
            width: 200px;

            .captwiki-dropdown-header {
                text-transform: capitalize;
            }

        }

        .captwiki-theme-content {
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: center;
            gap: 5px;
        }

        .captwiki-plugin-themes {
            display: flex;
            width: 100%;
            padding: 5px 10px;
            border-radius: $rs_small;
            color: $captwiki_black_color;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: $captwiki_white_hover;
            }
        }

    }

    .captwiki-theme-save{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}