@use '/src/style/variables.scss' as *;

.captwiki-setting-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    background-color: $captwiki_white_color;
    border: 1px solid $captwiki_border_color;
    border-radius: $rs_large;
    padding: 15px;

    .captwiki-setting-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 15px;
    }

    .captwiki-setting-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        gap: 15px;
        border-radius: $rs_normal;
        background-color: $captwiki_grey_color;
        border: 1px solid $captwiki_border_color;

        .captwiki-setting-card-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .captwiki-setting-card-title {
            font-size: 16px;
            font-weight: 600;
            color: $captwiki_black_color;
        }

        .captwiki-setting-card-desc {
            font-size: 14px;
            font-weight: 600;
            color: $captwiki_black_color;
            opacity: 0.5;
        }

        .captwiki-setting-card-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $captwiki_white_color;
            border: 1px solid $captwiki_border_color;
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
            transition: $transition;

            i {
                color: $captwiki_black_color;
                font-size: 16px;
            }

            &:hover {
                background-color: $captwiki_white_hover;
            }

        }

    }

}