@use '/src/style/variables.scss' as *;

.captwiki-switcher {
    position: relative;
    display: inline-block;
    min-width: 44px;
    min-height: 24px;
    border-radius: 12px;

    input[type='checkbox'].captwiki-switcher-input {
        display: none;
    }

    .captwiki-switcher-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 35px;
        background-color: $captwiki_component_bg;

        &::before {
            position: absolute;
            content: "";
            inset-inline-start: 3px;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            padding: 0;
            margin: 0;
            width: 15px;
            height: 15px;
            border-radius: 8px;
            filter: drop-shadow(0px 5px 2.5px rgba(40, 40, 40, 0.35));
            background-color: $captwiki_white_color;
            border: 1px solid $captwiki_white_color;
            box-shadow: $switcher_shadow;
        }

    }

    input[type='checkbox'].captwiki-switcher-input:checked+.captwiki-switcher-slider {
        background-color: $primary_color;

        &::before {
            transform: translate3d(20px, -50%, 0);
        }
    }

}