@use '/src/style/variables.scss' as *;

.captwiki-filter-panel {
    display: flex;
    width: 0px;
    min-width: 0px;
    border-right: 1px solid $captwiki_border_color;
    transition: $transition;

    &.captwiki-filter-panel-show {
        width: 280px;
        min-width: 280px;
    }

    &:not(.captwiki-filter-panel-show) {
        overflow: hidden;

        div,
        span,
        label {
            white-space: nowrap;
        }
    }
}

@media (max-width: 1024px) {
    .captwiki-filter-panel {
        display: flex;
        position: fixed;
        background: $captwiki_overlay_bg;
        z-index: 9;
        height: 100%;
        top: 0;
        left: 0;
        transition: none;
        opacity: 0;
        visibility: hidden;

        .captwiki-filter-content {
            background: $captwiki_white_color;
            width: 320px;
            margin: auto;
            height: fit-content;
            border-radius: $rs_large;
            padding-bottom: 10px;
        }

        &.captwiki-filter-panel-show {
            opacity: 1;
            visibility: visible;
            width: 100%;

            .captwiki-filter-content {
                width: 320px;
            }

        }
    }
}