@use '/src/style/variables.scss' as *;

.cwk-controller-fields-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .cwk-multiple-content {
        .cwk-fields-content {
            border-bottom: none;
        }
    }

    .cwk-accordion-container {
        border-bottom: 1px solid $cwk_border_color;
        padding: 15px 0;
        transition: $transition;

        &:last-child {
            border-bottom: none;
        }

        &.cwk-accordion-content-show {
            padding: 15px 0 0 0;

            .cwk-accordion-content {
                max-height: 1000vh;
            }

            .cwk-fields-accordion-header .cwk-accordion-header-icon {
                rotate: 180deg;
            }
        }

        .cwk-fields-accordion-header {
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 10px;

            .cwk-accordion-header-icon {
                rotate: -90deg;
            }

            .cwk-i-arrow-down {
                font-size: 12px;
                color: $cwk_black_color;
                transition: $transition;
            }

            .cwk-fields-accordion-header-label {
                font-size: 14px;
                font-weight: 600;
                color: $cwk_black_color;
            }

        }
    }



    .cwk-fields-content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $cwk_border_color;
        align-items: center;
        width: 100%;
        padding: 10px 0;

        &:last-child {
            border-bottom: none;
        }

        &.cwk-fields-content-column {
            flex-direction: column;
            gap: 15px;

            .cwk-fields-input {
                width: 100%;
            }

        }

    }

    .cwk-tooltip-container {
        .cwk-tooltip-text {
            max-width: 240px;
        }
    }

    .cwk-fields-label-container {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        outline: none;
        background-color: transparent;
        color: $cwk_black_color;
        font-size: 12px;
        font-weight: 600;
        padding: 0;
        width: 100%;
    }

    .cwk-fields-input-container {
        display: flex;
        justify-content: end;
        gap: 5px;
        width: 100%;

        &.cwk-fields-label-container-dropdown {
            width: 90%;
        }

        &.cwk-fields-input-container-slider {
            .cwk-fields-input {
                width: 70px;
            }
        }

        &.cwk-fields-selectors-advanced {
            flex-direction: column;
            border-radius: $rs_small;
            gap: 0;
            overflow: hidden;

            .cwk-fields-selectors-advanced-php {
                font-size: 14px;
                font-weight: 600;
                color: #ababab;
                padding: 10px 0px 5px 25px;
                width: 100%;
                background-color: #020202;
                cursor: not-allowed;
            }

            .cm-theme {
                border-radius: 0;

                .cm-editor {
                    font-size: 14px;
                }

            }
        }

        .cm-theme {
            width: 100%;
            height: 150px;
            border-radius: $rs_small;
        }

    }

    .cwk-align-icons-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2px;

        .cwk-align-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border: 1px solid $cwk_border_color;
            background-color: $cwk_white_color;
            border-radius: $rs_small;
            padding: 2px;
            transition: $transition;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                background-color: $cwk_white_hover;
            }
        }

    }

    .cwk-fields-unit-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
    }

    .cwk-options-header-item {
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        border: none;
        outline: none;
        background-color: transparent;
        color: $cwk_black_color;
        padding: 0;
    }

    .cwk-dropdown-header-icon {
        svg {
            height: 20px;
            width: 20px;
        }
    }

    .cwk-normalHover-label {
        display: flex;
        align-items: center;
        gap: 5px;
        border: 1px solid $cwk_border_color;
        background-color: transparent;
        color: $cwk_black_color;
        padding: 5px 15px;
        font-size: 12px;
        border-radius: $rs_small;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: $cwk_grey_color;
        }

    }

    .cwk-fields-type-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        outline: none;
        background-color: transparent;
        color: $cwk_black_color;
        font-size: 12px;
        font-weight: 600;
        padding: 0;
        cursor: pointer;
    }

    .cwk-fields-options-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .cwk-fields-options-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            width: 100%;

            .cwk-fields-options-header-item {
                color: $cwk_black_color;
                opacity: 0.7;
                width: 100%;
            }
        }

        .cwk-size-unit-label {
            align-items: center;
            display: flex;
            gap: 10px;
            min-width: 60px;
            cursor: pointer;
        }

        .cwk-fields-options-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }

        .cwk-fields-options-item-delete {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $cwk_grey_color;
            padding: 5px;
            border: 1px solid $cwk_border_color;
            border-radius: $rs_small;
            cursor: pointer;

            i {
                color: $cwk_black_color;
                font-size: 12px;
            }

            &.cwk-fields-options-item-delete-disabled {
                opacity: 0.5;
                cursor: not-allowed;
                pointer-events: none;
            }

        }

    }

    .cwk-fields-options-add {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        align-self: flex-end;
        border: 1px dashed $cwk_border_color;
        border-radius: $rs_small;
        cursor: pointer;
        transition: $transition;

        &:hover {
            background-color: #f5f5f582;
            border-color: $primary_color;
        }

    }

    .cwk-fields-unit-contaner {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        width: 70px;

        .cwk-fields-unit-item {
            font-size: 12px;
            font-weight: 400;
            color: $cwk_black_color;
            opacity: 0.7;
        }

    }

    .cwk-fields-input {
        border: 1px solid $cwk_border_color;
        border-radius: $rs_small;
        padding: 0px 10px;
        font-size: 14px;
        width: 145px;
        color: $cwk_black_color;
        background-color: $cwk_input_bg;
        outline: none;
        box-shadow: none;

        &:focus,
        &:target,
        &:active {
            border: 1px solid $cwk_border_color;
            outline: none;
            box-shadow: none;
        }

        &[type='color'] {
            height: 30px;
            width: 30px;
            border: 1px solid grey;
            border-radius: 0px;
            padding: 0;
            outline: none;
            box-shadow: none;
            cursor: pointer;

            &:focus,
            &:target,
            &:active {
                border: 1px solid grey;
                outline: none;
                box-shadow: none;
            }
        }
    }

    .cwk-dropdown-header {
        background-color: $cwk_input_bg;
        border-radius: $rs_small;
        text-transform: capitalize;
        padding: 3px 10px;
    }

    .cwk-dp-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;

        .cwk-dp-item {
            padding: 5px;
            border-radius: $rs_small;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: $cwk_input_bg;
            }
        }

    }

    .cwk-controller-copy-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $cwk_border_color;
        border-radius: $rs_small;
        padding: 2px 4px;
        color: $cwk_black_color;
        background-color: $cwk_input_bg;
        cursor: pointer;
    }

}