@use '/src/style/variables.scss' as *;

.cwk-primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: $primary_btn_color;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: $rs_medium;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $primary_btn_color_hover;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}